body{
margin:0px;
background-color:#e0e6ff;
}
#bandeau{
height:50px;
background:#3b548f;
}
p{
border-bottom-style: solid;
border-width: 1px;
border-bottom-color: black;
background-color: #d8dced;
}
h1{
font-style:italic;
}


